@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

.sora {
    font-family: "Sora", serif;
}

.poppins {
    font-family: "Poppins", serif;
}

/* animation */

@keyframes slow-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.slow-spin {
    animation: slow-spin 5s linear infinite; /* Adjust speed (5s) */
}
/* bounce */
@keyframes slow-bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.slow-bounce {
    animation: slow-bounce 3s ease-in-out infinite; /* Adjust speed (3s) */
}
@keyframes slow-bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}

.slow-bounce-1 {
    animation: slow-bounce 5s ease-in-out infinite;
}
.slow-bounce-2 {
    animation: slow-bounce 2s ease-in-out infinite;
}
@keyframes new-b {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-30px);
    }
}

.new-b {
    animation: new-b 4s ease-in-out infinite;
}
@keyframes new-a {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-30px);
    }
}

.new-a {
    animation: new-a 5s ease-in-out infinite;
}
/* rotate  */
@keyframes rotate-back-forth {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.rotate-infinite {
    animation: rotate-back-forth 10s ease-in-out infinite;
}